{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('bp_identity.static', filename='css/identity.css') }}" />
{% endblock %}

{% block content %}
<div class="otp-form-container">
    <div class="company-logo-container text-center">
        <!-- Ensure that the path to the image file is correct -->
        <img src="{{ url_for('bp_main.static', filename='img/project_david_logo.jpeg') }}" alt="Project David Logo" class="company-logo img-fluid">
    </div>
    <form action="{{ url_for('bp_identity.send_otp') }}" method="post" novalidate class="text-center">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.number.label(class_="form-control-label") }}
            {{ form.number(class_="form-control", placeholder="+1234567890") }}
            {% for error in form.number.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Send OTP</button>
        </div>
    </form>
</div>
{% endblock %}
